/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
    --accent-color: #2196F3;
    --main-color: #757575;
    --dark-color: #212121;
    --white-color: #ffffff;
    --light-grey: #F5F4FA;
    --block-background: rgba(47, 48, 58, 0.8);
    --btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --white-alt: rgba(255, 255, 255, 0.6);
    --footer-background: #2F303A;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/*header*/
.page-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    text-decoration: none;
}
.web {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.header-contacts-item:hover,
.header-contacts-item:focus {
    color: var(--accent-color);
}
.header-contacts-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
}
/*studio*/
.hero {
    background: var(--block-background);
}
.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.button-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: var(--btn-box-shadow);
    border-radius: 4px;
    border: 0px
}
.preferences-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--dark-color);
}
.preferences-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color)
}
.block-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}
.description-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background: var(--block-background);
}
.crew-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}
.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/*footer*/
.footer {
    background: var(--footer-background);
}
.logo-footer {
    color: var(--white-color);
}
.adress-map-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    text-decoration: none;
}
.footer-contacts-link {
    font-style: 400;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-alt);
    text-decoration: none;
}
.footer-title {
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white-color);
}
.btn-subscribe {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: var(--btn-box-shadow);
    border-radius: 4px;
    border: 0px;
}

/*portfolio*/
.portfolio-button-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
    background: var(--light-grey);
    border-radius: 4px;
    border: 0px;
    
}
.portfolio-button-item:hover,
.portfolio-button-item:focus {
    background: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    color: var(--white-color);
    border: 0px
}
.portfolio-examples-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-color);
}
.portfolio-examples-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}